<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles2.css">
    <!-- <script src="https://kit.fontawesome.com/bea59dd784" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script type="text/javascript" src="../public/script.js">

    </script>
    <title>Versatile</title>
</head>

<body>

    <nav class="header">
        <div class="name">
            <h2>VERSATILE</h2>
        </div>

        <div class="navbar">
            <ul>
                <li><a class="active" href="index.html">Individual</a></li>
                <li><a href="org.html">Organisation</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>

        <div class="login"><a href="login.html">Log In</a></div>
        <div class="signin"><a href="signin.html">Sign In</a></div>
    </nav>


    
        <section class="hero">
            <div class="left">
                <div class="img"><img
                        src="https://imgs.search.brave.com/ZTQ8mLCcILMJokvpybAy-NucR4oDq-mFRqHCJHyxVe4/rs:fit:1200:720:1/g:ce/aHR0cHM6Ly9pLnl0/aW1nLmNvbS92aS9J/MnR1NHdGdjdKQS9t/YXhyZXNkZWZhdWx0/LmpwZw">
                </div>
            </div>
            <div class="right">
                <div class="get">GET PERSONALIZED FINANCIAL ADVICER</div>
            </div>
        </section>
   

    <!-- <section class="sec2">
        <div class="parent">
            <div class="leftdiv2">
                <label for="cureency">CHOOSE CUREENCY</label><br>
                <select name="cureency" id="cureency">
                    <option value="dollar">$</option>
                    <option value="yen">¥
                    </option>
                    <option value="rupee" selected>₹</option>
                    <option value="rubble">₽</option>
                </select>
                <br>
                <div class="income">ENTER COMPANT'S ANNUAL TURNOVER AFTER PAYING TAX</div><br>
                <form action="//www.html.am/html-codes/textboxes/submitted.cfm">
                    <textarea name="myTextBox" cols="40" rows="2">

                        </textarea>
                    <br />
                    <input type="submit" /> 
                </form>
                <div class="text"> COMPANY'S BUDGET</div>

                <div class="edit">
                    <a href="#">add/edit</a><br>
                    <a href="#">reset</a>
                </div>
                <div class="parent2">
                    <div class="flex1">
                        <h1>SALARY</h1>
                        <div class="flex2">
                            <h6>GRADE1</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>GRADE2</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>GRADE3</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>GRADE4</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>GREADE5</h6>
                            <input type="text">
                        </div>

                    </div>
                    <div class="flex1">
                        <h1>PF FUNDS</h1>
                        <div class="flex2">
                            <h6>GRADE1</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>GRADE2</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>GRADE3</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>GRADE4</h6>
                            <input type="text">
                        </div>
                    </div>
                    <div class="flex1">
                        <h1>OTHERS</h1>
                        <div class="flex2">
                            <h6>ELECTRICITY</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>RENT</h6>
                            <input type="text">
                        </div>
                        <div class="flex2">
                            <h6>HEALTH CARE</h6>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <button class="b">submit</button>
            </div>


            <div class="rightdiv2">
                <div>
                    <img src="https://imgs.search.brave.com/4evdVQakA1EU-CzwcW0LX2yop9sT1OWmfCqDbGU635U/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5x/OHJ0WkxHYW85QWZV/MkhhdlZlSTVnSGFF/NyZwaWQ9QXBp"
                        </div>
                    <div class="bud">YOUR BUDGETING</div>
                </div>



    </section>

    <section class="sec3">
        <div class="social">
            <!-- <img src="https://img.icons8.com/ios-glyphs/30/null/instagram-new.png"/>
                <img src="https://img.icons8.com/ios-glyphs/30/null/twitter--v1.png"/>
                <img src="https://img.icons8.com/ios-glyphs/30/null/linkedin-circled--v1.png"/>
                <img src="https://img.icons8.com/ios-glyphs/30/null/facebook-new.png"/> -->
            <!-- <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <ul class="list">
            <li>
                <a href="index.html">Individual</a>
            </li>
            <li>
                <a href="org.html">Organisation</a>
            </li>
            <li>
                <a href="about.html">About us</a>
            </li>
        </ul>
        <p class="copyright">
            copyright © 2023 versatile&co.ltd.All rights reserved.
        </p>
    </section>  -->
</body>